body {
    background-color: #3c1518;
    color: #fffffa;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

.calc {
    background-color: #671e14;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
}

.calc .screen {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    width: 15rem;
    height: 2rem;
    background-color: #3c1518;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
}

h2 {
    padding-left: .7rem;
}

.calc button {
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #3c1518;
    color: #fffffa;
    width: 6.4rem;
    height: auto;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    margin-top: .5rem;
    border-radius: 10px;
}

.calc .op,
.calc .point {
    background-color: #db6816;
}

.calc .sp {
    background-color: #f9c067;
}

button:hover {
    background-color: #f3ddd1 !important;
    color: #3c1518;
    cursor: pointer;
}
